@import '../../styles/communs.scss';
.containerAProposDetail {
  position: relative;
  padding-top: 31px;
  padding-bottom: 31px;
  margin-left: 100px;
  margin-right: 100px;
  margin-left: 15%;
  margin-right: 15%;
  min-height: 60vh;
}
.containerPropos{
  outline:1px solid black;
  font-size:24px;
  display: flex;
  justify-content: space-between;
  margin-left: 18px;
}

@media #{$small-down} {
  .containerAProposDetail {
    min-height: 45vh;
    padding-top: 75px;
  }
}