@import "../../styles/communs.scss";

#containerGalery {
  position: relative;
  top: 14px;
  margin-top: 20px;
  border-radius: $borderRadiusGalery;
  @include marginDesktop;
}
#contenairPictureLogement img {
  position: absolute;
  border-radius: $borderRadiusGalery;
  height: 415px;
  width: 100%;
  object-fit: cover;
}

#containerArrow {
  height: 415px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
#iconLeft {
  margin-left: 25px;
  display: flex;
  align-items: center;
}
#iconRight {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media #{$small-down} {
  #containerGalery {
    @include marginMobile;
  }
  #contenairPictureLogement img,
  #containerArrow {
    border-radius: 10px;
    height: 255px;
  }
  #containerArrow img {
    width: 11px;
    height: 19px;
  }

  #iconLeft {
    margin-left: 5px;
  }
  #iconRight {
    margin-right: 5px;
  }
}
