$colorRed: #ff6060;
$colorGreylight:#f7f7f7;
$colorWhite: #ffffff;
$colorBlack:rgba(0, 0, 0, 1);

$linearGradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  $bornerRadiusMobile: 5px;
  $lineHeight:142.6%;
  $borderRadiusGalery:25px;
  $borderRadiusCardLogement:10px;