@import '../../styles/communs.scss';

.containerListeLogement {
  background-color: #f7f7f7;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 67px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}


@media #{$small-down} {
  .containerListeLogement {
    margin-left: 10px;
    margin-right: 10px;
     margin-top: -34px;
    background-color: white;
  }
  .bannerHome img{
    height:111px;
  }
}

