@import '../../styles/communs.scss';

.containerListeLogement {
  background-color: $colorGreylight;
  border-radius: 25px;
 @include marginDesktop;
  margin-top: 67px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}


@media #{$small-down} {
  .containerListeLogement {
    @include marginMobile;
     margin-top: -34px;
    background-color: $colorWhite;
  }
  .bannerHome img{
    height:111px;
  }
}

