@import "../../styles/communs.scss";

.arrowUp {
  display: none;
 
}
 
 .icone span {
   cursor: pointer;
   margin-right:18px;
   font-size:40px;
}
@media #{$small-down} {
  .icone span {
    font-size:20px;
  }
}