

.containerCard{
height:340px;
width: 340px;
margin: 50px;
}

.containerImg img{
    height:340px;
width: 340px;
object-fit: cover;
}
.titleLogement{
    position: relative;
    top: -50px;
    color: white;
    font-size:18px;
    padding-left: 20px;
}