@import "../../styles/communs.scss";

.containerlogement {
  position: relative;
 display:grid;
 grid-template-columns: 1fr 1fr;
  padding-top: 31px;
  padding-bottom: 31px;
  gap: 76px;
  min-height: 50vh;
}
ul {
  list-style: none;
}

@media #{$medium-down} {
  .containerlogement {
    grid-template-columns: 1fr
  }
}
