@import "../../styles/communs.scss";

.containerlogement {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 76px;
  min-height: 50vh;
}
ul {
  list-style: none;
  margin-top: 8px;
  margin-left: -40px;
}
#texteCard {
  margin-top: 15px;
}
.containerLogementInfo {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-left: 18px;
}

@media #{$small-down} {
  .containerlogement {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .containerLogementInfo {
    font-size: 13px;
  }
}
