@import '../../styles/communs.scss';

.containertitle {
  position: relative;
  background: #ff6060;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 31px;
  height: 47px;
}

.titleSection {
  display: flex;
  justify-content: space-between;
  margin-left: 18px;
}
.textOf {
  background: #f7f7f7;
  color: #ff6060;
  font-size: 24px;
  z-index: -2;
  position: relative;
  border-radius: 5px;
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 5px;
  margin-top: -8px;
}
@media #{$small-down} {
  .containertitle{
 font-size:13px;
 height: 30px;
 margin-top: 20px;
}
.textOf {
  font-size:12px;
 }
}