@import "../../styles/communs.scss";

.containertitlecontainerLogementInfo {
  height: 52px;
  border-radius: 10px;
  @include containerTitle;
}
.containertitlecontainerPropos {
  height: 47px;
  border-radius: 5px;
  @include containerTitle;
}
#textOfFiabilite,
#textOfRespect,
#textOfService,
#textOfResponsabilite {
  font-size: 24px;
  border-radius: 5px;
  height: 146px;
  line-height: $lineHeight;
}

#textOfDescribe,
#textOfEquipement {
  font-size: 18px;
  border-radius: 10px;
  height: 249px;
  line-height: $lineHeight;
}
.textOf {
  @include containerTexte;
}

@media #{$small-down} {
  .containertitlecontainerLogementInfo,
  .containertitlecontainerPropos {
    height: 30px;
  }
  .containertitlecontainerLogementInfo {
    border-radius: $bornerRadiusMobile;
  }
  #textOfFiabilite,
  #textOfRespect,
  #textOfService,
  #textOfResponsabilite,
  #textOfDescribe,
  #textOfEquipement {
    font-size: 12px;
    height: 143px;
  }

  .containertitleLogement,
  .containertitlepropos {
    border-radius: $bornerRadiusMobile;
  }
}
