@import "../../styles/communs.scss";

.containertitlecontainerLogementInfo {
  height:52px;
  border-radius: 10px;
  position: relative;
  background: #ff6060;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 23px;
}
.containertitlecontainerPropos {
  height:47px;
  border-radius: 5px;
  position: relative;
  background: #ff6060;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 23px;
}
#textOfFiabilite,
#textOfRespect,
#textOfService,
#textOfResponsabilite {
  font-size: 24px;
  border-radius: 5px;
 
}

#textOfDescribe,
#textOfEquipement {
  font-size: 18px;
  border-radius: 10px;
  
}
.textOf {
  background: #f7f7f7;
  color: #ff6060;
  font-size: 18px;
  z-index: -2;
  position: relative;
  display: none;
  align-items: flex-start;
  padding: 20px;
  margin-top: -10px;
  line-height: 142.6%;
  height: 249px;
}

@media #{$small-down} {
  .containertitle {
    //height: 30px;
    margin-top: 20px;
  }
  .containertitlecontainerLogementInfo, .containertitlecontainerPropos {
    height:30px;
  }
  .containertitlecontainerLogementInfo {
    border-radius: 5px;
  }
  #textOfFiabilite,
  #textOfRespect,
  #textOfService,
  #textOfResponsabilite,
  #textOfDescribe,
  #textOfEquipement {
    font-size: 12px;
    border-radius: 5px;
    height:143px;
  }

  .containertitleLogement,
  .containertitlepropos {
    border-radius: 5px;
  }
}
